.navigation {
    border: 1px solid black;
    background-color: hsl(88, 25%, 90%);
    padding: 20px;
    text-align: center;
}

.navigation__link {
    color: #222;
    text-decoration: none;
    margin: 20px 40px 20px 40px;
    position: relative;
    box-shadow: 5px -5px 5px 0px #706f6f;
}

.button {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.navigation__link--pasje {
    color: white;
    background-color: hsl(180deg 100% 25.1% / 73.1%);
    max-width: 100%;
    width: 850px;
    padding: 5px;
    border: 1px solid black;
    text-decoration: none;
    position: relative;
    box-shadow: 5px -5px 5px 0px #706f6f;
}
.navigation__link--bottom{
    margin: 10px;
    box-shadow: 5px -5px 5px 0px #99A1C4, 
    5px -5px 5px 0px #868C86;
    border: 1px solid black;
    padding: 20px;
    text-decoration: none;
}